<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %></div>
	<p> <img src="<%= blog.image %>" alt=""></p>
	<p> <%= blog.content %></p>
</div>
<% include ./partials/footer %>